/*LIST*/
.common-header {
    font-size: 1.4em;
    font-weight: bold;
    margin: 12px 0;
    color: #484848;
}

.common-list {
    padding: 8px 10px;
    border-radius: 8px;
    margin: 4px;
}

.main-header {
    font-size: 2em;
    margin: 14px 32px;
    color: black;
}

.main-header-note {
    font-size: .5em;
    color: #4a4a4a;
}

.rune-view {
    padding: 8px 18px;
    display: flex;
    border-radius: 5px;
}

.rune-view:hover {
    background-color: #f3f5f7;
}

.rune-view-button-wrapper {
    padding: 0 8px;
}

.add-rune-view {
    display: inline-block;
}

.rune-result-list {
    padding-top: 0;
}

.main-section-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.common-section {
    margin: 1em;
    min-width: 400px;
    flex: 1;
}

.rune-view-rune-name {
    min-width: 6em;
}

h3.reserved-runes-header {
    font-size: 0.9em;
    font-weight: bold;
}

.reserved-rune-result-list {
    background-color: #f5f5f5;
}

.rune-view-found-text {
    font-size: 0.8em;
    line-height: 2.5em;
    font-weight: bold;
}

.results-header {
    color: #00c33d;
    font-size: 1.8em;
}

.footnote {
    font-size: 0.9em;
    padding: 0 1.7em;
}